node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
*.md
.DS_Store
*.log
reply_vector_db
__pycache__
*.pyc
.pytest_cache
emails_cache.json*
reachinbox.db
.vscode
slack-webhook-node
